In [1]:
import pandas as pd

In [2]:
x = ["Damindu","Kamal"]
y = [55,99]
data = pd.DataFrame(list(zip(x,y)),columns =["Name","Marks"])
data

      Name  Marks
0  Damindu     55
1    Kamal     99

In [3]:
data2 = pd.read_csv("/home/daminduwathsala/Downloads/ecommerce_customer_churn_dataset.csv")
data2

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,...,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,56.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,35.0,Male,India,Delhi,3.1,29.0,51.4,NaN,19.1,9.0,...,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,38.0,Female,USA,Los Angeles,10.0,10.0,35.8,8.8,51.2,3.0,...,9.2,5.0,1.0,20.7,25.2,1.0,2365.98,3499.0,0,Q2
49996,37.0,Male,USA,Chicago,1.4,21.0,32.4,9.6,32.5,2.0,...,17.6,5.0,3.0,38.6,12.1,4.0,1293.60,3154.0,0,Q3
49997,44.0,Female,USA,Phoenix,2.8,19.0,40.3,10.4,50.6,1.0,...,25.2,4.0,6.0,59.9,NaN,1.0,1655.28,1622.0,0,Q1
49998,41.0,Female,USA,Chicago,2.9,17.0,29.9,10.1,60.8,1.0,...,34.6,5.0,2.0,NaN,14.1,3.0,1286.11,2634.0,0,Q2
49999,56.0,Male,UK,Leeds,2.2,2.0,18.2,NaN,46.0,0.0,...,0.0,7.0,0.0,0.0,4.2,1.0,1072.61,612.0,0,Q3

In [5]:
data2.info

<bound method DataFrame.info of         Age  Gender Country         City  Membership_Years  Login_Frequency  \
0      43.0    Male  France    Marseille               2.9             14.0
1      36.0    Male      UK   Manchester               1.6             15.0
2      45.0  Female  Canada    Vancouver               2.9             10.0
3      56.0  Female     USA     New York               2.6             10.0
4      35.0    Male   India        Delhi               3.1             29.0
...     ...     ...     ...          ...               ...              ...
49995  38.0  Female     USA  Los Angeles              10.0             10.0
49996  37.0    Male     USA      Chicago               1.4             21.0
49997  44.0  Female     USA      Phoenix               2.8             19.0
49998  41.0  Female     USA      Chicago               2.9             17.0
49999  56.0    Male      UK        Leeds               2.2              2.0

       Session_Duration_Avg  Pages_Per_Session  Cart_Abandonment_Rate  \
0                      27.4                6.0                   50.6
1                      42.7               10.3                   37.7
2                      24.8                1.6                   70.9
3                      38.4               14.8                   41.7
4                      51.4                NaN                   19.1
...                     ...                ...                    ...
49995                  35.8                8.8                   51.2
49996                  32.4                9.6                   32.5
49997                  40.3               10.4                   50.6
49998                  29.9               10.1                   60.8
49999                  18.2                NaN                   46.0

       Wishlist_Items  ...  Email_Open_Rate  Customer_Service_Calls  \
0                 3.0  ...             17.9                     9.0
1                 1.0  ...             42.8                     7.0
2                 1.0  ...              0.0                     4.0
3                 9.0  ...             41.4                     2.0
4                 9.0  ...             37.9                     1.0
...               ...  ...              ...                     ...
49995             3.0  ...              9.2                     5.0
49996             2.0  ...             17.6                     5.0
49997             1.0  ...             25.2                     4.0
49998             1.0  ...             34.6                     5.0
49999             0.0  ...              0.0                     7.0

       Product_Reviews_Written  Social_Media_Engagement_Score  \
0                          4.0                           16.3
1                          3.0                            NaN
2                          1.0                            NaN
3                          5.0                           85.9
4                         11.0                           83.0
...                        ...                            ...
49995                      1.0                           20.7
49996                      3.0                           38.6
49997                      6.0                           59.9
49998                      2.0                            NaN
49999                      0.0                            0.0

       Mobile_App_Usage  Payment_Method_Diversity  Lifetime_Value  \
0                  20.8                       1.0          953.33
1                  23.3                       3.0         1067.47
2                   8.8                       NaN         1289.75
3                  31.0                       3.0         2340.92
4                  50.4                       4.0         3041.29
...                 ...                       ...             ...
49995              25.2                       1.0         2365.98
49996              12.1                       4.0         1293.60
49997               NaN                       1.0         1655.28
49998              14.1                       3.0         1286.11
49999               4.2                       1.0         1072.61

       Credit_Balance  Churned  Signup_Quarter
0              2278.0        0              Q1
1              3028.0        0              Q4
2              2317.0        0              Q4
3              2674.0        0              Q1
4              5354.0        0              Q4
...               ...      ...             ...
49995          3499.0        0              Q2
49996          3154.0        0              Q3
49997          1622.0        0              Q1
49998          2634.0        0              Q2
49999           612.0        0              Q3

[50000 rows x 25 columns]>

In [7]:
data2.describe()

,Age,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,Total_Purchases,Average_Order_Value,Days_Since_Last_Purchase,...,Returns_Rate,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned
count,47505.000000,50000.000000,50000.000000,46601.000000,47000.000000,50000.000000,46000.000000,50000.000000,50000.000000,47000.000000,...,45509.000000,47472.000000,49832.000000,46500.000000,44000.000000,45000.000000,47500.000000,50000.000000,44500.000000,50000.000000
mean,37.802968,2.984009,11.624660,27.660754,8.737811,57.079973,4.298391,13.111576,123.117330,29.792872,...,6.680913,20.937980,5.681831,2.853312,29.364466,19.371607,2.353874,1440.626292,1966.233258,0.289000
std,11.834668,2.059105,7.810657,10.871013,3.778220,16.282723,3.189754,7.017312,175.569714,29.695062,...,6.143027,14.252561,2.676052,2.328948,20.574021,9.419252,1.110012,907.249443,1225.072166,0.453302
min,5.000000,0.100000,0.000000,1.000000,1.000000,0.000000,0.000000,-13.000000,26.380000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,29.000000,1.400000,6.000000,19.700000,6.000000,46.400000,2.000000,8.000000,87.050000,9.000000,...,2.900000,9.900000,4.000000,1.000000,13.200000,12.500000,2.000000,789.817500,1049.000000,0.000000
50%,38.000000,2.500000,11.000000,26.800000,8.400000,58.100000,4.000000,12.000000,112.970000,21.000000,...,5.400000,19.700000,5.000000,2.000000,27.600000,18.600000,2.000000,1243.415000,1896.000000,0.000000
75%,46.000000,4.000000,17.000000,34.700000,11.200000,68.700000,6.000000,17.000000,144.440000,41.000000,...,9.100000,30.400000,7.000000,4.000000,43.100000,25.500000,3.000000,1874.000000,2791.000000,1.000000
max,200.000000,10.000000,46.000000,75.600000,24.100000,143.743350,28.000000,128.700000,9666.379178,287.000000,...,99.615734,91.700000,21.000000,21.000000,100.000000,61.900000,5.000000,8987.240000,7197.000000,1.000000

In [8]:
data2.head()

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,...,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,56.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,35.0,Male,India,Delhi,3.1,29.0,51.4,NaN,19.1,9.0,...,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4

In [9]:
data2.tail()

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
49995,38.0,Female,USA,Los Angeles,10.0,10.0,35.8,8.8,51.2,3.0,...,9.2,5.0,1.0,20.7,25.2,1.0,2365.98,3499.0,0,Q2
49996,37.0,Male,USA,Chicago,1.4,21.0,32.4,9.6,32.5,2.0,...,17.6,5.0,3.0,38.6,12.1,4.0,1293.60,3154.0,0,Q3
49997,44.0,Female,USA,Phoenix,2.8,19.0,40.3,10.4,50.6,1.0,...,25.2,4.0,6.0,59.9,NaN,1.0,1655.28,1622.0,0,Q1
49998,41.0,Female,USA,Chicago,2.9,17.0,29.9,10.1,60.8,1.0,...,34.6,5.0,2.0,NaN,14.1,3.0,1286.11,2634.0,0,Q2
49999,56.0,Male,UK,Leeds,2.2,2.0,18.2,NaN,46.0,0.0,...,0.0,7.0,0.0,0.0,4.2,1.0,1072.61,612.0,0,Q3

In [10]:
data2["Age"]

0        43.0
1        36.0
2        45.0
3        56.0
4        35.0
         ...
49995    38.0
49996    37.0
49997    44.0
49998    41.0
49999    56.0
Name: Age, Length: 50000, dtype: float64

In [11]:
data3 = data2["Age"]

In [12]:
data3

0        43.0
1        36.0
2        45.0
3        56.0
4        35.0
         ...
49995    38.0
49996    37.0
49997    44.0
49998    41.0
49999    56.0
Name: Age, Length: 50000, dtype: float64

In [13]:
data2[["Age","Country"]]

        Age Country
0      43.0  France
1      36.0      UK
2      45.0  Canada
3      56.0     USA
4      35.0   India
...     ...     ...
49995  38.0     USA
49996  37.0     USA
49997  44.0     USA
49998  41.0     USA
49999  56.0      UK

[50000 rows x 2 columns]

In [14]:
data2.iloc[0:3]

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,...,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4

In [15]:
data2.iloc[0:20]

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,...,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,56.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,35.0,Male,India,Delhi,3.1,29.0,51.4,NaN,19.1,9.0,...,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4
5,35.0,Male,Japan,Tokyo,3.5,6.0,21.9,6.9,74.4,0.0,...,16.0,8.0,2.0,14.3,11.2,2.0,1995.43,2418.0,1,Q1
6,56.0,Male,Germany,Berlin,1.9,24.0,46.4,13.9,36.2,5.0,...,35.5,4.0,6.0,68.8,42.9,5.0,3003.57,2657.0,0,Q1
7,47.0,Female,USA,Houston,1.6,14.0,24.1,8.3,59.9,2.0,...,5.5,5.0,NaN,30.1,7.6,2.0,1394.04,2274.0,0,Q4
8,32.0,Male,Canada,Calgary,1.3,14.0,NaN,7.4,66.5,4.0,...,19.0,2.0,0.0,0.0,18.7,2.0,537.21,534.0,0,Q1
9,44.0,Male,USA,New York,3.6,13.0,31.3,5.4,62.6,3.0,...,11.7,2.0,1.0,13.5,21.5,2.0,807.84,977.0,0,Q2
10,32.0,Male,UK,Glasgow,0.9,0.0,12.3,2.9,73.5,0.0,...,0.0,11.0,2.0,17.0,8.0,1.0,599.41,498.0,1,Q2
11,32.0,Female,Germany,Munich,0.6,11.0,12.1,5.6,77.2,0.0,...,4.0,7.0,1.0,0.0,17.7,2.0,335.92,1369.0,1,Q3
12,40.0,Female,USA,Phoenix,7.1,10.0,19.2,7.0,69.1,6.0,...,9.6,4.0,NaN,17.7,NaN,4.0,1229.94,2446.0,0,Q1
13,18.0,Female,USA,Phoenix,3.1,13.0,26.1,8.9,47.7,2.0,...,19.0,8.0,4.0,NaN,21.5,3.0,1083.91,2772.0,1,Q3
14,18.0,Female,France,Paris,3.7,14.0,33.5,10.3,48.4,2.0,...,16.1,6.0,4.0,28.3,23.3,3.0,1618.51,3624.0,0,Q1
15,31.0,Female,USA,New York,1.4,24.0,50.8,18.0,44.0,5.0,...,45.0,4.0,5.0,81.6,26.5,1.0,1692.54,2564.0,0,Q3
16,25.0,Female,Canada,Ottawa,0.9,4.0,12.4,3.7,68.5,1.0,...,0.0,9.0,1.0,0.0,15.5,1.0,503.26,1048.0,0,Q3
17,41.0,Male,USA,Los Angeles,0.7,5.0,19.5,5.3,68.0,2.0,...,1.2,4.0,NaN,0.0,13.4,1.0,1356.93,1924.0,0,Q4
18,27.0,Female,India,Bangalore,2.0,0.0,20.3,9.8,59.8,2.0,...,12.5,4.0,0.0,3.4,17.5,3.0,1096.88,54.0,0,Q2
19,21.0,Female,Australia,Adelaide,5.6,9.0,27.5,8.8,52.1,4.0,...,NaN,7.0,5.0,28.2,25.6,1.0,1274.70,3107.0,0,Q3

In [16]:
data2.loc[1,"Age"]

np.float64(36.0)

In [18]:
#Add a column
data2["Average"] = True

In [19]:
data2.iloc[0:20]

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter,Average
0,43.0,Male,France,Marseille,2.9,14.0,27.4,6.0,50.6,3.0,...,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1,True
1,36.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4,True
2,45.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4,True
3,56.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1,True
4,35.0,Male,India,Delhi,3.1,29.0,51.4,NaN,19.1,9.0,...,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4,True
5,35.0,Male,Japan,Tokyo,3.5,6.0,21.9,6.9,74.4,0.0,...,8.0,2.0,14.3,11.2,2.0,1995.43,2418.0,1,Q1,True
6,56.0,Male,Germany,Berlin,1.9,24.0,46.4,13.9,36.2,5.0,...,4.0,6.0,68.8,42.9,5.0,3003.57,2657.0,0,Q1,True
7,47.0,Female,USA,Houston,1.6,14.0,24.1,8.3,59.9,2.0,...,5.0,NaN,30.1,7.6,2.0,1394.04,2274.0,0,Q4,True
8,32.0,Male,Canada,Calgary,1.3,14.0,NaN,7.4,66.5,4.0,...,2.0,0.0,0.0,18.7,2.0,537.21,534.0,0,Q1,True
9,44.0,Male,USA,New York,3.6,13.0,31.3,5.4,62.6,3.0,...,2.0,1.0,13.5,21.5,2.0,807.84,977.0,0,Q2,True
10,32.0,Male,UK,Glasgow,0.9,0.0,12.3,2.9,73.5,0.0,...,11.0,2.0,17.0,8.0,1.0,599.41,498.0,1,Q2,True
11,32.0,Female,Germany,Munich,0.6,11.0,12.1,5.6,77.2,0.0,...,7.0,1.0,0.0,17.7,2.0,335.92,1369.0,1,Q3,True
12,40.0,Female,USA,Phoenix,7.1,10.0,19.2,7.0,69.1,6.0,...,4.0,NaN,17.7,NaN,4.0,1229.94,2446.0,0,Q1,True
13,18.0,Female,USA,Phoenix,3.1,13.0,26.1,8.9,47.7,2.0,...,8.0,4.0,NaN,21.5,3.0,1083.91,2772.0,1,Q3,True
14,18.0,Female,France,Paris,3.7,14.0,33.5,10.3,48.4,2.0,...,6.0,4.0,28.3,23.3,3.0,1618.51,3624.0,0,Q1,True
15,31.0,Female,USA,New York,1.4,24.0,50.8,18.0,44.0,5.0,...,4.0,5.0,81.6,26.5,1.0,1692.54,2564.0,0,Q3,True
16,25.0,Female,Canada,Ottawa,0.9,4.0,12.4,3.7,68.5,1.0,...,9.0,1.0,0.0,15.5,1.0,503.26,1048.0,0,Q3,True
17,41.0,Male,USA,Los Angeles,0.7,5.0,19.5,5.3,68.0,2.0,...,4.0,NaN,0.0,13.4,1.0,1356.93,1924.0,0,Q4,True
18,27.0,Female,India,Bangalore,2.0,0.0,20.3,9.8,59.8,2.0,...,4.0,0.0,3.4,17.5,3.0,1096.88,54.0,0,Q2,True
19,21.0,Female,Australia,Adelaide,5.6,9.0,27.5,8.8,52.1,4.0,...,7.0,5.0,28.2,25.6,1.0,1274.70,3107.0,0,Q3,True

In [20]:
#modify values
data2["Age"] = data2["Age"] + 5

In [32]:
#drop column
data2.drop("Average",axis = 1,inplace= True)

In [33]:
#drop a row
data2.drop(0,axis=0,inplace=True)

In [34]:
#filter datas
data2[data2["Age"]>40]

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
1,41.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,50.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,61.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
6,61.0,Male,Germany,Berlin,1.9,24.0,46.4,13.9,36.2,5.0,...,35.5,4.0,6.0,68.8,42.9,5.0,3003.57,2657.0,0,Q1
7,52.0,Female,USA,Houston,1.6,14.0,24.1,8.3,59.9,2.0,...,5.5,5.0,NaN,30.1,7.6,2.0,1394.04,2274.0,0,Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,43.0,Female,USA,Los Angeles,10.0,10.0,35.8,8.8,51.2,3.0,...,9.2,5.0,1.0,20.7,25.2,1.0,2365.98,3499.0,0,Q2
49996,42.0,Male,USA,Chicago,1.4,21.0,32.4,9.6,32.5,2.0,...,17.6,5.0,3.0,38.6,12.1,4.0,1293.60,3154.0,0,Q3
49997,49.0,Female,USA,Phoenix,2.8,19.0,40.3,10.4,50.6,1.0,...,25.2,4.0,6.0,59.9,NaN,1.0,1655.28,1622.0,0,Q1
49998,46.0,Female,USA,Chicago,2.9,17.0,29.9,10.1,60.8,1.0,...,34.6,5.0,2.0,NaN,14.1,3.0,1286.11,2634.0,0,Q2
49999,61.0,Male,UK,Leeds,2.2,2.0,18.2,NaN,46.0,0.0,...,0.0,7.0,0.0,0.0,4.2,1.0,1072.61,612.0,0,Q3

In [36]:
#sort data
data2.sort_values("Age" , ascending = False)

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
49331,205.0,Male,France,Lyon,0.7,11.0,16.0,9.7,56.3,1.0,...,4.0,10.0,3.0,12.8,8.5,3.0,1002.36,3486.0,0,Q1
38932,205.0,Female,India,Chennai,2.7,0.0,NaN,7.1,65.2,1.0,...,11.8,12.0,0.0,0.0,NaN,2.0,643.05,262.0,1,Q1
22233,205.0,Male,USA,Phoenix,1.8,17.0,36.0,9.1,38.6,7.0,...,45.5,5.0,2.0,NaN,27.8,1.0,1847.83,2242.0,0,Q3
8809,205.0,Female,USA,New York,2.1,9.0,27.6,3.1,57.5,1.0,...,3.5,6.0,1.0,36.0,11.3,4.0,662.87,1170.0,0,Q2
40909,205.0,Female,USA,Houston,1.0,11.0,38.9,9.8,35.4,7.0,...,28.8,3.0,5.0,51.3,28.0,4.0,1550.25,3220.0,0,Q4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49882,NaN,Female,USA,Houston,5.4,17.0,29.0,8.4,54.5,6.0,...,42.2,7.0,6.0,28.6,NaN,3.0,781.52,2587.0,0,Q1
49892,NaN,Male,USA,Los Angeles,5.4,15.0,44.0,11.4,42.8,7.0,...,40.0,5.0,6.0,51.0,21.6,1.0,1862.91,2530.0,0,Q1
49908,NaN,Male,Germany,Hamburg,2.5,22.0,35.9,12.1,41.0,5.0,...,34.1,2.0,NaN,35.5,NaN,2.0,1650.48,2028.0,0,Q1
49960,NaN,Male,Australia,Brisbane,5.1,8.0,21.5,4.3,57.6,NaN,...,27.2,6.0,1.0,3.6,NaN,2.0,1440.38,1011.0,0,Q1
49984,NaN,Female,USA,New York,3.3,8.0,28.9,9.2,55.8,5.0,...,24.0,6.0,2.0,42.2,14.9,2.0,1423.45,NaN,0,Q1

In [37]:
#Handle missing values
data2.isnull().sum()

Age                              2495
Gender                              0
Country                             0
City                                0
Membership_Years                    0
Login_Frequency                     0
Session_Duration_Avg             3399
Pages_Per_Session                3000
Cart_Abandonment_Rate               0
Wishlist_Items                   4000
Total_Purchases                     0
Average_Order_Value                 0
Days_Since_Last_Purchase         3000
Discount_Usage_Rate              3500
Returns_Rate                     4491
Email_Open_Rate                  2528
Customer_Service_Calls            168
Product_Reviews_Written          3500
Social_Media_Engagement_Score    6000
Mobile_App_Usage                 5000
Payment_Method_Diversity         2500
Lifetime_Value                      0
Credit_Balance                   5500
Churned                             0
Signup_Quarter                      0
dtype: int64

In [38]:
#remove null values
data2.dropna()

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
3,61.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
5,40.0,Male,Japan,Tokyo,3.5,6.0,21.9,6.9,74.4,0.0,...,16.0,8.0,2.0,14.3,11.2,2.0,1995.43,2418.0,1,Q1
6,61.0,Male,Germany,Berlin,1.9,24.0,46.4,13.9,36.2,5.0,...,35.5,4.0,6.0,68.8,42.9,5.0,3003.57,2657.0,0,Q1
10,37.0,Male,UK,Glasgow,0.9,0.0,12.3,2.9,73.5,0.0,...,0.0,11.0,2.0,17.0,8.0,1.0,599.41,498.0,1,Q2
11,37.0,Female,Germany,Munich,0.6,11.0,12.1,5.6,77.2,0.0,...,4.0,7.0,1.0,0.0,17.7,2.0,335.92,1369.0,1,Q3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49985,45.0,Male,USA,Phoenix,4.7,6.0,30.2,7.5,59.3,4.0,...,14.5,6.0,2.0,16.9,11.7,1.0,747.57,1654.0,0,Q4
49987,42.0,Female,USA,New York,5.4,12.0,31.1,5.7,80.7,3.0,...,7.3,4.0,3.0,19.0,23.1,3.0,1131.42,0.0,0,Q3
49991,34.0,Male,USA,Chicago,4.9,12.0,40.1,10.2,40.7,9.0,...,12.6,3.0,4.0,51.3,25.6,3.0,1257.02,0.0,0,Q4
49993,61.0,Female,Canada,Calgary,2.0,14.0,35.5,8.9,52.9,12.0,...,40.5,5.0,2.0,35.4,18.3,3.0,1581.65,2732.0,0,Q3
49994,23.0,Female,France,Lyon,4.8,8.0,21.0,8.4,69.5,3.0,...,17.4,6.0,5.0,15.4,14.6,2.0,813.11,3565.0,1,Q2

In [39]:
#replace with zero
data2.fillna(0)

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
1,41.0,Male,UK,Manchester,1.6,15.0,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,0.0,23.3,3.0,1067.47,3028.0,0,Q4
2,50.0,Female,Canada,Vancouver,2.9,10.0,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,0.0,8.8,0.0,1289.75,2317.0,0,Q4
3,61.0,Female,USA,New York,2.6,10.0,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,40.0,Male,India,Delhi,3.1,29.0,51.4,0.0,19.1,9.0,...,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4
5,40.0,Male,Japan,Tokyo,3.5,6.0,21.9,6.9,74.4,0.0,...,16.0,8.0,2.0,14.3,11.2,2.0,1995.43,2418.0,1,Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,43.0,Female,USA,Los Angeles,10.0,10.0,35.8,8.8,51.2,3.0,...,9.2,5.0,1.0,20.7,25.2,1.0,2365.98,3499.0,0,Q2
49996,42.0,Male,USA,Chicago,1.4,21.0,32.4,9.6,32.5,2.0,...,17.6,5.0,3.0,38.6,12.1,4.0,1293.60,3154.0,0,Q3
49997,49.0,Female,USA,Phoenix,2.8,19.0,40.3,10.4,50.6,1.0,...,25.2,4.0,6.0,59.9,0.0,1.0,1655.28,1622.0,0,Q1
49998,46.0,Female,USA,Chicago,2.9,17.0,29.9,10.1,60.8,1.0,...,34.6,5.0,2.0,0.0,14.1,3.0,1286.11,2634.0,0,Q2
49999,61.0,Male,UK,Leeds,2.2,2.0,18.2,0.0,46.0,0.0,...,0.0,7.0,0.0,0.0,4.2,1.0,1072.61,612.0,0,Q3

In [41]:
#Group By

data2.groupby("Age")["Membership_Years"].mean()

Age
10.0     3.775000
15.0     2.228571
23.0     2.983452
24.0     2.846845
25.0     2.986801
           ...
78.0     2.811111
79.0     2.963636
80.0     2.737778
155.0    3.344444
205.0    2.327273
Name: Membership_Years, Length: 62, dtype: float64

In [42]:
#save data
data2.to_csv("output.csv", index=False)